@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$colour-primary : #FF6060;
$background : #F6F6F6;

* {
    box-sizing: border-box;
}


.carousel-container{
  width: 1240px;
    height: 415px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    position:relative;
    border-radius: 25px;
}

.carousel{
    display: flex;
    overflow: hidden;
}


.carousel-item.active {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;    
  & img{
    width: 1240px;
    height: 415px;
    object-fit: cover;
  }
  
  }

.arrow-next {
    position: absolute;
    right: 3%;
    top:167.5px;
    cursor: pointer;
    z-index: 2;
    &.hidden{
      display: none;
    }
  }

.arrow-prev {
    position: absolute;
    left: 3%;
    top:167.5px;
    cursor: pointer;
    z-index: 2;
    &.hidden{
      display: none;
    }
}

.bullet-points{
  position: absolute;
bottom: 10px;
left :50%;
  font-size: 40px;
  z-index: 2;
  font-family: Montserrat;
  font-size: 24px;
  color:#FFF;
}
