.carousel-container{
  width: 1240px;
    height: 415px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    position:relative;
}

.carousel{
    display: flex;
    overflow: hidden;
}


.carousel-item.active {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;    
  & img{
    width: 1240px;
    height: 415px;
    object-fit: cover;
  }
  
  }

.arrow-next {
    position: absolute;
    right: 3%;
    top:167.5px;
    cursor: pointer;
    z-index: 2;
    &.hidden{
      display: none;
    }
  }

.arrow-prev {
    position: absolute;
    left: 3%;
    top:167.5px;
    cursor: pointer;
    z-index: 2;
    &.hidden{
      display: none;
    }
}

