@import './utils.scss';
@import './normalize.css';

.error-number {
    display: flex;
    justify-content: center;
    color: $colour-primary;
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
}

.error-description {
    display: flex;
    justify-content: center;
    color: $colour-primary;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    margin: 50px auto;
}


.error-back-home {
    display: flex;
    justify-content: center;
    color: $colour-primary;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    margin: 120px auto;

}

a {
    color: $colour-primary;
}


@media all and (max-width: 992px) {


    .error-number {
        font-size: 96px;
    }

    .error-description {
        font-size: 18px;
        width: 220px;
    }

    .error-back-home {
        font-size: 14px;
    }


}