@import './utils.scss';
@import './normalize.css';


.main-wrapper {
    margin: 0 9%;
}

.presentation {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
    margin-top: 20px;
}

.presentation__housing__title {
    color: $colour-primary;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
}

.presentation__housing__location {
    color: $colour-primary;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.presentation__housing__tags {
    display: flex;
    flex-direction: row;
}

.presentation__housing__tags__tag {
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background-color: $colour-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.presentation__housing__tags__tag__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.presentation__host-star__host__name {
    color: $colour-primary;
    text-align: right;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    white-space: pre-line;
    line-height: 140%;
    margin-right: 10px;
}

.presentation__host-star__host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.presentation__host-star__host__photo+img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

div.collapse-container {
    width: 48%;
}

li {
    list-style-type: none;
    text-align: left;
}

ul {
    padding-left: 0;
}

.presentation__host-star__stars {
    margin: 10px 0;
}


@media all and (max-width: 992px) {


    .main-wrapper {
        margin: 0 5%;
    }

    .presentation {
        flex-direction: column;
        width: 100%;
    }

    .presentation__housing__title {
        font-size: 18px;
    }

    .presentation__housing__location {
        font-size: 14px;
    }

    .presentation__housing__tags__tag__text {
        font-size: 10px;
    }

    .presentation__housing__tags__tag {
        width: 84px;
        height: 18px;
    }

    .presentation__host-star__host__name {
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .presentation__host-star {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .presentation__host-star__stars>path {
        height: 12px;
    }


    div.collapse-container {
        width: 100%;
        margin-bottom: -10px;
    }


    .collapses {
        width: 100%;
        flex-direction: column;
    }

    .rating {
        height: 18px;
    }


}