@import './utils.scss';
@import './normalize.css';

.background{
    width: 1240px;
    border-radius: 25px;
    background-color: $background;
    margin : 0 auto 0 auto;
    padding: 56px 50px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: space-between;
}

