@import '../../utils/utils.scss';
@import '../../utils/normalize.css';


.main-wrapper {
    margin: 0 9%;
}

.presentation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.presentation__housing__title h3 {
margin-top: 0;
    margin-bottom: 5px;
}

.presentation__housing__location {
    color: $colour-primary;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}







.collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

div.collapse-container {
    width: 48%;
}

li {
    list-style-type: none;
    text-align: left;
}

ul {
    padding-left: 0;
    margin-bottom: 0%;
}




@media all and (max-width: 992px) {


    .main-wrapper {
        margin: 0 5%;
   
    }

    .presentation {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0; 
        
    }


    .presentation__housing__location {
        font-size: 14px;
    }

    

   

    .presentation__host-star {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }





    div.collapse-container {
        width: 100%;
        margin-bottom: -10px;
    }


    .collapses {
        width: 100%;
        flex-direction: column;
    }
}