@import '../../utils/utils.scss';
@import '../../utils/normalize.css';

.background {
    border-radius: 25px;
    background-color: $background;
    margin: 0 9%;
    padding: 56px 50px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}




@media all and (max-width: 992px) {

    .background {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 0%;
        padding-top: 0%;
        background-color: #FFF;
    }

    .banner__container__title {
        white-space: pre-line;
    }

}