
@import '../../utils/utils.scss';
@import '../../utils/normalize.css';



.presentation__host-star__host__name {
    color: $colour-primary;
    text-align: right;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    white-space: pre-line;
    line-height: 140%;
    margin-right: 10px;
}

.presentation__host-star__host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.presentation__host-star__host__photo+img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}



@media all and (max-width: 992px) {

    .presentation__host-star__host__name {
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .presentation__host-star__host__photo+img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }
    
}