@import '../../utils/utils.scss';
@import '../../utils/normalize.css';


@mixin header__links__button($colour : $colour-primary) {
    color: $colour;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 50%;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 9% 0 9%;
    height: 131px;
    align-items: center;
    padding-bottom: 20px;
}

.header__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
}

button.header__links__secondary-button{
    background-color: white;
    border-color: white;
    box-shadow: none;
    border-width: 0;
}

button.header__links__first-button{
    background-color: white;
    border-color: white;
    box-shadow: none;
    border-width: 0;
}

#logo {
    height: 68px;
}

.header__links__first-button a {
    @include header__links__button;

    &:hover {
        text-decoration: underline;
    }
}

.header__links__secondary-button a {
    @include header__links__button;

    &:hover {
        text-decoration: underline;
    }
}





@media all and (max-width: 992px) {


    .header {
        margin: 0 5%;
        padding-bottom: 0%;
        height: 100px;
    }

    @mixin header__links__button($colour : $colour-primary) {
        font-size: 12px;
        text-transform: uppercase;
    }

    .header__links__first-button a {
        @include header__links__button;

        &:hover {
            text-decoration: underline;
        }
    }


    .header__links__secondary-button a {
        @include header__links__button;

        &:hover {
            text-decoration: underline;
        }
    }

    #logo {
        height: 47px;
        padding-bottom: 0;
    }


    .header__links {
        width: 150px;
    }



}