@import '../../utils/utils.scss';
@import '../../utils/normalize.css';

.banner {
  position: relative;
  text-align: center;
  margin: 0 0 50px 0;
}

.banner img {
  width: 100%;
  height: 223px;
  border-radius: 25px;
}

.banner::before {
  content: "";
  text-align: center;
  position: absolute;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3);
}

.banner__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner__container__title {
  font-size: 48px;
  font-family: Montserrat;
  font-weight: 500;
  color: #FFF;
}



@media all and (max-width: 992px) {

  .banner {
    margin: 0 0 22px 0;
    height: 111px;
  }

  .banner__container__title{
    display: flex;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
    color: #FFF;
    justify-content: flex-start;
    margin-left: 16px;
  }

  .banner img {
    height: 111px;
    border-radius: 10px;
  }

  .banner::before {
    height :  111px;  
    border-radius: 10px;
  }

  .banner__container {
 justify-content: flex-start;
 text-align: left;
  }
}